# Ignore Godot-specific files
*.import
*.cfg
*.asset
*.cache
*.tmp
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.vspscc
*.vssscc
*.ncb
*.log
*.orig
*.rej
*.swp
*.vi
*.bak
*.tmp
*.DS_Store
*.godot
*.godot.import
*.godot.cache
*.godot.tmp
*.godot.asset
*.godot.cfg
*.godot.xcodeproj
*.godot.xcworkspace
*.godot.sln
*.godot.suo
*.godot.user
*.godot.userprefs
*.godot.pidb
*.godot.vspscc
*.godot.vssscc
*.godot.ncb
*.godot.log
*.godot.orig
*.godot.rej
*.godot.swp
*.godot.vi
*.godot.bak
*.godot.tmp
*.godot.DS_Store

# Ignore build directories
build/
dist/
.godot/


# Ignore exported files
*.pck
*.apk
*.ipa
*.exe
*.dll
*.so
*.dylib
*.app
*.dmg
*.pkg
*.deb
*.rpm
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.rar
*.iso
*.img
*.vmdk
*.vdi
*.vhd
*.vhdx
*.qcow
*.qcow2
*.vmdk
*.vdi
*.vhd
*.vhdx
*.qcow
*.qcow2
*.ova
*.ovf
*.vbox
*.vbox-extpack
*.vbox-extpack.tar
*.vbox-extpack.tar.gz
*.vbox-extpack.tar.bz2
*.vbox-extpack.tar.xz
*.vbox-extpack.tar.7z
*.vbox-extpack.tar.rar
*.vbox-extpack.tar.iso
*.vbox-extpack.tar.img
*.vbox-extpack.tar.vmdk
*.vbox-extpack.tar.vdi
*.vbox-extpack.tar.vhd
*.vbox-extpack.tar.vhdx
*.vbox-extpack.tar.qcow
*.vbox-extpack.tar.qcow2
*.vbox-extpack.tar.ova
*.vbox-extpack.tar.ovf
*.vbox-extpack.tar.vbox
*.vbox-extpack.tar.vbox-extpack
*.vbox-extpack.tar.vbox-extpack.tar
*.vbox-extpack.tar.vbox-extpack.tar.gz
*.vbox-extpack.tar.vbox-extpack.tar.bz2
*.vbox-extpack.tar.vbox-extpack.tar.xz
*.vbox-extpack.tar.vbox-extpack.tar.7z
*.vbox-extpack.tar.vbox-extpack.tar.rar
*.vbox-extpack.tar.vbox-extpack.tar.iso
*.vbox-extpack.tar.vbox-extpack.tar.img
*.vbox-extpack.tar.vbox-extpack.tar.vmdk
*.vbox-extpack.tar.vbox-extpack.tar.vdi
*.vbox-extpack.tar.vbox-extpack.tar.vhd
*.vbox-extpack.tar.vbox-extpack.tar.vhdx
*.vbox-extpack.tar.vbox-extpack.tar.qcow
*.vbox-extpack.tar.vbox-extpack.tar.qcow2
*.vbox-extpack.tar.vbox-extpack.tar.ova
*.vbox-extpack.tar.vbox-extpack.tar.ovf
*.vbox-extpack.tar.vbox-extpack.tar.vbox
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.gz
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.bz2
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.xz
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.7z
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.rar
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.iso
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.img
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.vmdk
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.vdi
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.vhd
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.vhdx
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.qcow
*.vbox-extpack.tar.vbox-extpack.tar.vbox-extpack.tar.qcow2
*.vbox-extpack.tar.vbox-e
